:root {
	--dark-gray: #0a0a0a;
	--sans: system-ui, -apple-system, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--dark-gray);
}

.bg {
	position: relative;
	transform: translate(-50%, -50%);
	width: 3840px;
	height: 2160px;

	animation: 20s linear infinite running bg-move;
}

@keyframes bg-move {
	from { transform: translate(-50%, -50%); }
	to { transform: translate(0, 0); }
}

.bg__img {
	position: relative;
	float: left;
	opacity: 10%;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.content {
	width: 100vw;

	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	gap: 0;
	place-items: center;
}

.content__date {
	text-align: center;
	font-size: 60pt;
	font-family: var(--sans);
	color: white;
}

.content__img {
	filter: hue-rotate(0deg);
	animation: 5s linear 0s infinite running rgb;
}

@keyframes rgb {
	from { filter: hue-rotate(0deg); }
	to { filter: hue-rotate(360deg); }
}

.content__bar {
	height: 40px;

	margin: 0;
	border: 2px solid white;
	border-radius: 100px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: white;
	background-color: var(--dark-gray);
}

.content__search {
	margin: 1em;
	border: none;

	font-size: 16pt;
	font-family: var(--sans);
	font-weight: lighter;

	color: white;
	background: none;
}

.content__search:focus {
	outline: none;
}

.audio {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 25px;
}

.audio__toggle {
	width: 25px;
	cursor: pointer;
}